<form ng-submit="search(searchText, selectNumber)">
    <div class="form-group-lg">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Search">
            </div>
            <div class="col-md-2">
                <input class="btn btn-lg btn-primary" type="submit" value="Search">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</form>