<div ng-controller="searchController">

    <div class="container">
        <button class="btn btn-lg btn-info" ng-click="logout()">Logout</button>
        <br>
        <br>
        <search></search>
        <br>
        <br>
        <table-results></table-results>
    </div>

</div>